.wrapper-page-details {
  h2 {
    font-size: 1.63em;
    font-weight: 300;
    letter-spacing: $letter-spacing-light;
    text-align: center;
    margin-bottom: 24px;
    line-height: 1.2;
  }

  .start-time {
    font-size: 1.13em;
    text-align: center;
    font-weight: 300;
    letter-spacing: $letter-spacing-heavy;
    text-transform: uppercase;
    margin-bottom: 24px;
    line-height: 1.5;
  }

  .wrapper-address {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 24px;

    p {
      text-align: center;
      font-size: 0.95em;
      font-weight: 400;
      letter-spacing: $letter-spacing-extra-light;
      margin-bottom: 5px;
    }
  }

  @media (max-width: 500px) {
    h2 {
      font-size: 1.5em;
    }

    .start-time {
      font-size: 1.1em;
    }

    .wrapper-address {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-bottom: 24px;

      p {
        text-align: center;
        font-size: 0.95em;
        font-weight: 400;
        letter-spacing: $letter-spacing-extra-light;
        margin-bottom: 5px;
      }
    }
  }
}
