.wrapper-page-lodging {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .hotel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
      max-width: 147px;
    }

    p {
      text-align: center;

      &:nth-child(2) {
        margin: 14px 0 11px;
      }

      &:nth-child(3) {
        font-size: 1.1em;
        margin-bottom: 4px;
      }

      &:nth-child(4) {
        margin-bottom: 9px;
        font-size: 1.1em;
      }

      &:nth-child(5),
      &:nth-child(6) {
        font-size: 0.95em;
      }

      a {
        color: $black;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        text-decoration: underline;
        margin-top: 7px;
        font-size: 1.09em;
        font-weight: 300;

        &:hover {
          color: $grey-3;
        }
      }
    }

    .wrapper-button {
      margin-top: 26px;
    }
  }

  @media (max-width: 594px) {
    flex-direction: column;

    .hotel:first-of-type {
      margin-bottom: 75px;
    }
  }
}
