// Colors //
$black: #1c1c1c;
$black-2: rgba(28, 28, 28, 9.5);
$grey-1: #fafafa;
$grey-2: #ccc;
$grey-3: rgba(28, 28, 28, 0.5);
$white: #fff;

// Fonts //
$font-primary: 'Lato', sans-serif;

// Letter Spacing //
$letter-spacing-extra-light: 0.4px;
$letter-spacing-light: 1px;
$letter-spacing-light-regular: 2px;
$letter-spacing-regular: 3px;
$letter-spacing-heavy: 4px;
