.wrapper-component-page-template {
  margin-top: 90px;

  .wrapper-page-template-title {
    color: $black;

    h1 {
      text-align: center;
      font-weight: 100;
      font-size: 3.7em;
      margin: 0;
    }

    h5 {
      text-transform: uppercase;
      font-weight: 300;
      text-align: center;
      font-size: 0.88em;
      letter-spacing: $letter-spacing-regular;
      margin: 7px 0 85px;
    }
  }

  .wrapper-page-template-content-box {
    background-color: $white;
  }
}
