.wrapper-component-page-template {
  padding: 90px 0;

  .wrapper-page-template-title {
    color: $black;

    h1 {
      text-align: center;
      font-weight: 100;
      font-size: 3.7em;
      margin: 0;
    }

    h5 {
      text-transform: uppercase;
      font-weight: 300;
      text-align: center;
      font-size: 0.88em;
      letter-spacing: $letter-spacing-regular;
      margin: 7px 0 85px;
    }
  }

  .wrapper-page-template-content-box {
    background-color: transparentize($white, 0.11);
  }

  @media (max-width: 865px) {
    .wrapper-page-template-title {
      h1 {
        padding: 0 4%;
      }
    }

    .wrapper-page-template-content-box {
      margin: 0 4%;
    }
  }

  @media (max-width: 500px) {
    .wrapper-page-template-title {
      h5 {
        margin: 7px 0 55px;
      }
    }
  }
}
